.footer {
  background-color: #333;
  color: #eee;
  padding: 1rem 0;
  text-align: center;
  margin-top: 3rem;
  font-size: 0.9rem;
  width: 100vw; /* full viewport width */
  position: relative; /* normal flow */
  left: 0;
  box-sizing: border-box;
}
